*, *::before, *::after {
    box-sizing: border-box; }
  
body {
    margin: 0;
    text-align: center;
    line-height: 1.2;
    background: lightgoldenrodyellow;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}
h2 {
    color: blueviolet;
}

.song {
    margin 0 auto;
    padding: 20px;
}
p {
    padding: 96px;
    text-align: center;
}
span {
    font-style: italic;
}
